<p>
	<strong>Posts</strong>
	<%= @user.name %>
</p>

<tbody>
<% @posts.each do |post| %>
	<tr>
		<td><%= post.title %></td>
		<td><%= post.content %></td>
		<td><%= link_to 'Show', post %></td>
	</tr>
<% end %>
</tbody>


<%= link_to 'Back', user_path %>
