<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<tbody>
<% @books.each do |book| %>
	<tr>
		<td><%= book.title %></td>
		<td><%= book.description %></td>
		<td><%= link_to 'Show', book %></td>
	</tr>
<% end %>
</tbody>

<%= link_to 'Back', authors_path %>
