<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 col-md-push-9">
		    	<% if user_signed_in? %>
		    		<%= link_to 'Edit Profile', edit_user_registration_path %>
		    		Logged in as <%= current_user.name %>
		    		<%= link_to	'Show Posts' %>
		    	<% end %>
		    </div>
			<div class="col-md-9 col-md-pull-3">
				<% if user_signed_in? %>
		    		<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
		    	<% else %>
		    		<%= link_to 'Sign up', new_user_registration_path %>
					<%= link_to 'Log in', new_user_session_path %>
		    	<% end %>
			</div>
		</div>
	</div>
</nav>
